[user]
	name = Monika
	email = monika@neosynth.net
	signingkey = 291849C4FBEB88E9015347220B0A471F564AF57D
[commit]
	gpgsign = true
[gpg]
	program = gpg
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
