[init]
	defaultBranch = main
[core]
	excludesFile = ~/.config/git/gitignore_global
	packedGitLimit = 512m
	packedGitWindowSize = 512m
[pack]
	deltaCacheSize = 2047m
	packSizeLimit = 2047m
	windowMemory = 2047m
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[include]
	path = ~/.gitconfig.local
